.App {
  text-align: center;
  padding: 20px;
}

.preview {
  width: 250px;
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.webcam {
  width: 250px;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
}
